.button-sequence,
.button-sequence-inline {
    flex-wrap: wrap;
    background-color:#F5F5F5;
    border: 1px solid #bebebe;
    border-radius: 5px;
}

.button-sequence {
    display: flex;
    width: 100%;
}

.button-sequence-inline {
    display: inline-flex;
    align-items: center;
}

.display-button-separator {
    font-size: x-large;
    /* justify-content: center; */
    align-items: center;
    display: inline-flex;
    padding: 3px;
    line-height: inherit;
    pointer-events: none;
}

.button-sequence-inline .display-button-separator {
    font-size: unset;
}

.button-sequence-inline .display-button {
    background-color: unset;
}

.display-button {
    position: relative;
    border-style: ridge;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 75px;
    height: 75px;
    /* margin-right: 10px; */
    box-shadow: 0px 2px 5px 1px rgba(121, 121, 121, 0.75);
    color: white;
    font-size: 110%;
    text-align: center;
    margin: 9px;
    margin-left: 4px;
    margin-right: 4px;
}

.display-button-simultaneous {
    display: flex;
    flex-direction: row;
    background-color: #FBFBFB;
    border-radius: 5px;
    padding: 7px;
    border-color: #E3E3E3;
    border-width: 2px;
    border-style: ridge;
}
.display-button-simultaneous .display-button {
    margin-top: 0px;
    margin-bottom: 0px;
}

.display-button-simultaneous .display-button:first-child {
    margin-left: 0px;
}

.display-button-simultaneous .display-button:last-child {
    margin-right: 0px;
}

.display-button-simultaneous .display-button-separator {
    color: black;
}

.keyboard-svg-graphic {
    visibility: visible;
    opacity: 0;
    position: absolute;
    display: inline-flex;
    justify-self: center;
    pointer-events: none;
    max-width: 100vw; 
    z-index: 3;
    background-color: #f5f5f5d0;
    border-radius: 15px;
    border: 1px ridge #BEBEBE;
    width: max-content;
    height: max-content;
    padding: 15px;
    overflow: auto;
    box-shadow: 1px 1px rgba(0,0,0,0.5);
}

.display-button > .keyboard-svg-graphic {
    top: 100%;
    margin-top: 0.5rem;
}

.inline-display-button .keyboard-svg-graphic {
    transform: translateX(-43%);
    margin-top: 2.5rem
}

.display-button-keypad {
    border: 3px solid #c9265c;
    background-color: rgb(66, 66, 66);
    border-style: ridge;
}

.display-button-softkey {
    border: 3px solid #d17327;
    background-color: rgb(97, 97, 97);
    border-style: ridge dotted;
}

.button-sequence-legend {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-left-width: 3px;
    border-left-color: #f3a435;
    border-radius: 3px;
}

.inline-display-button, .button-sequence-inline .display-button {
    margin-left:0px;
    /* margin-bottom:6px; */
    background-color: #cfcfcf;
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
    border-color: #c9265c;
    border-style: ridge;
    /* margin-right: 4px; */
    overflow-x: hidden;
    white-space: nowrap;
    display: inline-flex;
    font-weight: bold;
    line-break:normal;
    color: black;
}

.button-sequence-inline .display-button-simultaneous {
    padding: 0.5px;
    display: block;
    padding-left: 3px;
    padding-right: 3px;
    border-color: #949494;
    /* box-shadow: 1px 1px black; */
}