.button-sequence {
    display: flex;
    flex-wrap: wrap;
    background-color:#F5F5F5;
    border: 1px solid #bebebe;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.inline-display-button {
    margin-left:0px;
    /* margin-bottom:6px; */
    background-color: #cfcfcf;
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
    border-color: #c9265c;
    border-style: ridge;
    /* margin-right: 4px; */
    overflow-x: hidden;
    white-space: nowrap;
    display: inline-flex;
    font-weight: bold;
    line-break:normal;
}

.display-button-keypad,
.display-button-softkey {
    position: relative;
    border-style: ridge;
    border-radius: 15%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    width: 75px;
    height: 75px;
    padding-top: 5px;
    /* margin-right: 10px; */
    box-shadow: 0px 2px 5px 1px rgba(121, 121, 121, 0.75);
    color: white;
    font-size: 110%;
    text-align: center;
}

.keyboard-svg-graphic {
    visibility: visible;
    opacity: 0;
    position: absolute;
    display: inline-flex;
    justify-self: center;
    pointer-events: none;
    max-width: 100vw; 
    z-index: 3;
    background-color: #f5f5f5d0;
    border-radius: 15px;
    border: 1px ridge #BEBEBE;
    width: max-content;
    height: max-content;
    padding: 15px;
    overflow: auto;
}

.display-button-softkey > .keyboard-svg-graphic,
.display-button-keypad > .keyboard-svg-graphic {
    top: 100%;
    margin-top: 0.5rem;
}

.inline-display-button .keyboard-svg-graphic {
    transform: translateX(-43%);
    margin-top: 2.5rem
}

.display-button-keypad {
    border: 3px solid #c9265c;
    background-color: rgb(66, 66, 66);
    border-style: ridge;
}

.display-button-softkey {
    border: 3px solid #d17327;
    background-color: rgb(97, 97, 97);
    border-style: ridge dotted;
}

.display-button-separator {
    font-size: x-large;
    /* justify-content: center; */
    align-items: center;
    display: inline-flex;
    padding: 3px;
    transform: translateY(0.35em);
    pointer-events: none;
}

.button-sequence-legend {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-left-width: 3px;
    border-left-color: #f3a435;
    border-radius: 3px;
}