/* make room for the nav bar */
h1[id],
h2[id],
h3[id],
h4[id],
h5[id],
h6[id],
dt[id]{
margin-top: 40px;
}

h2  {
    font-size:24px;
    line-height:29px;
}

h3 {
    color: #ED1951; 
    font-weight:normal; 
    font-size:130%;
}

h3.codeExplanation {
    font-size:18px;
    font-style:normal;
    color: black;
    line-height: 24px;
}

h4 {
    color: #808080; 
    font-weight:normal; 
    font-size:120%; 
    font-style:italic;
}

h4.panel-title {
    padding-top: 0px;
    margin-top: 0px;
}

.post-title-main {
    display: inline-flex;
    margin-right: 100px;
    flex-grow: 1;

    margin-top: 0px;
    margin-bottom: 0px;
}   