/* search area */
#search-demo-container ul#results-container {
    list-style: none;
    font-size: 12px;
    background-color: white;
    position: absolute;
    top: 38px; /* if you change anything about the nav, you'll prob. need to reset the top and left values here.*/
    left: 21px;
    z-index: 3;
    width:238px;
    border-radius: 5px;
    border-left: 1px solid #dedede;
}

ul#results-container a {
    background-color: transparent;
}

ul#results-container a:hover {
    color: black;
    background-color: rgb(207, 207, 207);
}

#search-demo-container a:hover {
    color: black;
    background-color: rgb(207, 207, 207);
}

#search-input {
    padding: .5em;
    margin-left:20px;
    width:20em;
    font-size: 0.8em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top:8px;
}
/* end search */

/* algolia search */

.search {
    text-align: left;
}
.search input {
    font-size: 20px;
    width: 300px;
}
.results {
    margin: auto;
    text-align: left;
}
.results ul {
    list-style-type: none;
    padding: 0;
}

/* algolia */