.page-accessed {
    display: none;
}

.page-url {
    display: none;
}

.noPrinterView {
    background-color: lightgray;
}

.printButton {
    min-width: 5%;
    margin-top: 4px;
    display: inline-block;
}

@media print {
    #tg-sb-sidebar,
    #search-input,
    .githubEditButton,
    .printerViewButton,
    .navbar-right,
    #pageFooterHR,
    .tags,
    #toc,
    .navbar-static-top,
    .console_command_tip,
    .site-last-updated,
    #footer-logo-spacer,
    .printButton {
        display: none;
    }

    .container {
        width: 100%;
    }

    #page-footer-logo {
        width: 100%;
    }

    #page-footer-logo {
        width: 200px;
    }

    footer {
        margin-top: 20px;
    }

    .footer {
        text-align: center
    }

    .page-accessed {
        display: block;
    }
    
    .page-url {
        display: block;
    }

    .noPrinterView {
        display: none;
    }

    .sc-filled {
        color: black
    }
    
    .sc-empty {
        display: none;
    }
}
